.color-block {
  border: 1px solid $light-gray;
  border-radius: $global-radius;
  box-shadow: 0 0 8px rgba(0, 0, 0, .1);
  display: block;
  font-size: rem-calc(14);
  margin-bottom: rem-calc(24);
  padding: rem-calc(8 8 6);
  text-transform: uppercase;

  span {
    display: block;
    height: 100px;
    margin-bottom: $global-margin;
    width: 100%;
  }
}
