.main-navigation,
.widget_nav_menu {
  margin-bottom: rem-calc(16);
  background-color: #f9fafc;

  .widget-title {
    padding: rem-calc(10 16);
    border-bottom: 4px solid #e8e8e8;
    font-size: rem-calc(16);
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .menu {
    @include menu-base;
    @include menu-direction(vertical);
    padding: 0;

    & > li {
      & > a {
        padding: 1.5rem;
        border-bottom: 1px solid $light-gray;
        background-color: $white;
        font-size: rem-calc(21);
        font-weight: 500;
        color: $body-font-color;

        @include on-event() {
          background-color: #f9fafc;
          color: $anchor-color;
        }
      }

      &.current-menu-item > a {
        color: $anchor-color;
      }
    }
  }

  .submenu {
    & > li {
      & > a {
        padding-left: rem-calc(50);
        font-size: rem-calc(16);
      }
    }
  }
}
