.sub-navigation {
  border-top: 4px solid $light-gray;
  background-color: #f9fafc;

  &::before {
    display: block;
    width: 100px;
    height: 4px;
    margin: -4px 0;
    border-right: 3px solid $white;
    background: $anchor-color;
    content: '';
    font-size: 6px;
  }

  .menu {
    @include menu-base;
    @include menu-direction(vertical);
    padding: rem-calc(4 0 0);

    & > li > a {
      padding: 1rem;
      border-bottom: 1px solid $light-gray;
      font-size: rem-calc(13);
      color: $body-font-color;

      @include on-event() {
        color: $anchor-color;
      }
    }
  }
}
