// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
%fontawesome {
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  vertical-align: top;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  speak: none;
}
