.sq {
  &-footer {
    font-size: rem-calc(12);
  }

  &-info {
    @include flex-grid-column;
    padding: $global-padding;
    text-align: center;

    @include breakpoint(large up) {
      @include center-block;
      text-align: left;
    }
  }
}
