/* Layout */
.sq {
  border-bottom: 1px solid $light-gray;

  &-content {
    word-wrap: break-word;

    @include breakpoint(large up) {
      border-left: 1px solid $light-gray;
    }

    &-area {
      @include flex-grid-column;
      @include breakpoint(large up) {
        padding: rem-calc(80);
      }
    }
  }

  &-sidebar {
    padding-right: 0;
    padding-left: 0;
  }

  .sq-site-main {
    @include center-block;
    max-width: 960px;

    &.wide {
      max-width: none;
    }
  }
}
