.sticky,
.bypostauthor {
  display: block;
}

.hentry {
  @include clearfix;
  position: relative;
  margin-bottom: rem-calc(30);

  .attachment-post-thumbnail {
    margin-bottom: rem-calc(24);
  }
}

.entry-title,
.page-title {
  position: relative;
  margin-bottom: rem-calc(15);
  padding: rem-calc(10 0 5);
  border-bottom: 4px solid $light-gray;
  letter-spacing: 1px;

  &::after {
    display: block;
    width: 100px;
    height: 4px;
    margin: 12px 0 -9px;
    border-right: 3px solid $white;
    background: $anchor-color;
    content: '';
    font-size: 6px;
  }

  @include breakpoint(medium up) {
    font-size: rem-calc(52);
    line-height: 1.2;
  }
}

.entry-content,
.entry-summary,
.entry-footer {
  font-size: rem-calc(18);
  word-wrap: break-word;
  hyphens: auto;

  a:not(.post-thumbnail) {
    position: relative;
    display: inline-block;
    text-decoration: none;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      border-bottom: 2px solid currentColor;
      transition: 0.4s;
      content: '';
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.single-featured-image-header img {
  width: 100%;
  height: auto;
}

.entry-meta,
.entry-footer {
  @include clearfix;
  margin-bottom: rem-calc(15);
  font-size: rem-calc(14);
  color: $dark-gray;

  a {
    position: relative;
    display: inline-block;
    text-decoration: none;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      border-bottom: 2px solid currentColor;
      transition: 0.4s;
      content: '';
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}

.cat-links,
.tags-links {
  margin-right: rem-calc(10);
}

.comments-link {
  float: right;
}

.child-section {
  @include disable-mouse-outline;

  &:not(:last-child) {
    margin-bottom: 4rem;
    padding-bottom: 4rem;
    border-bottom: 2px solid #ccc;
  }
}

.edit-link {
  display: block;

  .post-edit-link {
    @include button;
    font-size: rem-calc(12);

    &::before {
      margin-right: rem-calc(5);
      content: '';
      font-family: 'FontAwesome';
    }
  }
}
