@import '../components/widgets';

.widget_nav_menu {
  padding-right: 0;
  padding-left: 0;
}

.widget-area {
  display: none;
  padding-bottom: $global-padding;

  @include breakpoint(large up) {
    display: block;
  }
}

